.upload-card2-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--light-gray);
  color: var(--light-gray);
  padding: 50px 30px;
  border-radius: 20px;
}

.amenities-grid-property2 {
  display: grid;
  grid-template-columns: repeat(3, 137px);
  gap: 80px 70px;
  list-style: none;
}

.amenity-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #1366ba;
  border-radius: 15px;
  padding: 15px 0;
  position: relative;
  white-space: nowrap;
  cursor: pointer;
  background-color: var(--white);
}

.amenity-text {
  position: absolute;
  top: calc(100% + 10px);
  font-size: 15px;
  color: #fff;
}

input {
  border: none;
  background: none;
  color: #fff;
  width: 15px;
}

input:focus {
  outline: none;
}

.arrow-down2 {
  margin-top: 50px;
}

.upload-property2-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  padding: 20px;
}

.propety-image-property2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, #020024 0%, #002244 35%, #020024 100%);
  padding: 55px 0;
  width: 100%;
  margin: auto;
}

.propety-pic-property2 {
  width: 500px;
  height: 350px;
  object-fit: contain;
  position: relative;
  left: 0;
  top: -270px;
  margin: 40px 0;
  filter: drop-shadow(-6px 40px 23px rgba(0, 0, 0, 0.5));
}

.upload-property2-title {
  color: #fff;
  margin: 0;
  font-size: 20px;
  text-align: center;
}

.upload-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Continue-upload-property2 {
  display: flex;
  border: 0;
  padding: 15px 25px;
  align-items: center;
  border-radius: 7px;
  cursor: pointer;
  position: relative;
  top: 86px;
  left: 189px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 10px;
  color: white;
  background: linear-gradient(to bottom, #ae593a 0%, #ae593a 100%);
  transition: 200ms;
  margin-bottom: 60px;
}

.amenities-input {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  border-radius: 23px;
  width: 550px;
  height: fit-content;
  margin: auto;
  margin-top: 20px;
}

.input-btn {
  display: contents;
  gap: 22px;
}

.input-btn span {
  position: relative;
  top: 1px;
}

.input-btn button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 30px;
  cursor: pointer;
}

.error-amenities {
  text-align: center;
}

.amenity-item input[type="checkbox"] {
  display: none;
}

.amenity-item .amenity-text {
  cursor: pointer;
}

.amenity-item.selected {
  background-color: #fcf7e8;
}

@media (max-width: 400px) {
  .upload-property2-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .amenities-input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 23px;
    height: fit-content;
    width: 325px;
  }

  .propety-image-property2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    padding: 0;
    width: 100%;
    margin: auto;
  }

  .propety-pic-property2 {
    display: none;
    width: 500px;
    height: 350px;
    object-fit: contain;
    position: relative;
    left: 0;
  }

  .error-amenities {
    text-align: center;
    position: relative;
    left: 7px;
  }

  .amenities-grid-property2 {
    display: grid;
    grid-template-columns: repeat(2, 80px);
    gap: 48px 89px;
    list-style: none;
  }
}
