* {
  color: #fff;
  line-height: 1.25;
}

.menu-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin: 10px;
}

.logo {
  width: 150px;
  margin: 20px 20px;
}

.nav-menu {
  display: flex;
  align-items: baseline;
  list-style: none;
  margin-top: 32px;
}

.log-in-btn,
.logout-btn {
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  margin: 20px;
}

.sign-up-btn {
  background: #ae593a;
  font-size: 20px;
  padding: 10px 44px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  margin: 20px;
}

/* remove the additional author-defined CSS styling for an element */
a {
  all: unset;
  cursor: pointer;
}

@media (max-width: 400px) {
  .log-in-btn,
  .logout-btn {
    font-size: 12px;
    border: none;
    cursor: pointer;
  }

  .sign-up-btn {
    background: #ae593a;
    font-size: 12px;
    padding: 12px;
    cursor: pointer;
    border: none;
    margin: 10px;
  }
}
