.first-screen-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  font-family: "Inter";
  color: #fff;
  width: 100%;
  margin-top: 80px;
}

.title-header {
  margin-top: 24px;
}

.right-screen-img {
  width: 500px;
  height: 350px;
  object-fit: cover;
}

.img-container {
  width: 400px;
}

.home-type-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.activeHome {
  color: #ae593a;
}

.input-text {
  display: inline-block;
  width: 100%;
  margin: 8px 0;
  padding: 12px;
  background-color: #fcf7e8;
  border: 1px solid #fff;
  border-radius: 10px;
  outline: none;
  box-sizing: border-box;
}

.input-submit {
  width: 100%;
  background-color: #ae593a;
  font-size: 18px;
  color: white;
  margin: 8px 0;
  border: none;
  align-self: flex-end;
  transition: 0.2s ease-in-out;
  padding: 15px 25px;
  border-radius: 7px;
  cursor: pointer;
  background: linear-gradient(to bottom, #ae593a 0%, #ae593a 100%);
}

.input-submit:hover {
  background-color: #fff;
  color: #000;
}

.white-border {
  border: 1px solid #ffffff90;
  border-radius: 10px;
}

.fields-container {
  padding: 16px;
}

.margin-bottom {
  margin-bottom: 15px;
}

.icon-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.icon-size-change {
  font-size: 50px;
}

.right-screen-container {
  display: flex;
  align-items: center;
}

.form-left-container {
  margin-right: 50px;
  width: 40%;
}

.error-red {
  color: red;
  padding: 8px 0;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .first-screen-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .img-container {
    display: none;
  }

  .form-left-container {
    margin-right: 0;
  }

  .icon-size-change {
    font-size: 40px;
  }
}

@media only screen and (max-width: 767px) {
  .first-screen-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .img-container {
    display: none;
  }

  .form-left-container {
    margin-right: 0;
  }

  .home-type-icons {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    /* flex-direction: column; */
  }

  .form-left-container,
  .right-screen-container {
    width: 80%;
  }
}
