@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --bg-color: #b7d9e4;
  --primary-color: #010625;
  --input-bg: #fff;
  --light-gray: #ccc;
  --light-darkish-blue: #1366ba;
  --red: red;
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.wrapper {
  background:
    linear-gradient(
      to right,
      var(--bg-color),
      var(--bg-color) 78%,
      transparent 90%,
      transparent 90%
    ),
    url("https://s3-alpha-sig.figma.com/img/4658/da65/ec1961fa3a64be98e4234704da3fcffd?Expires=1716163200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=TuUfvkX4QH2RGuytG2cbBytkKdUVHR46BFhla8hQTAG~UzcwH52Nb627zobhIqyqkdXPKTEqSUR-rkWnLzVDEpZTdTGRu1jADrQKe8LKe-p7JxW7mUTXvKL3JbvW91ZS1dXmBwyStP2ptLUPaH-iVyVyJyZ-wBaWvfEYcUuPuWl5tk2V9efJa7ChRERdE47O~71CefYrNk42YBmoeqAuSoOfki4sfUGQSkBugo1syOvBjjohVwo5Bt-FWxra1KWNMQcT7O-NoB1gcSyKee3PX9brALPolD9g6wSkfSGmzRNac6z2J-OIFj81eGJF0ZgvuqO1HBYZsD5TzYi~~u0AUQ__")
      right center / auto 100% no-repeat;
  font-family: "Inter";
  min-height: 400px;
  width: 95%;
  margin: 80px auto;
  border-radius: 30px;
  padding: 50px;
}

.wrapper > .search-title {
  color: var(--input-bg);
  font-size: 35px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 50px;
}

.search-container {
  background-color: var(--input-bg);
  padding: 10px 20px;
  width: 90%;
  border-radius: 60px;
  margin: 20px auto;
}

.criteria {
  display: flex;
  color: var(--primary-color);
  align-items: center;
  justify-content: space-evenly;
  margin-top: 8px;
}

.criteria p {
  text-transform: uppercase;
  color: var(--light-gray);
  font-size: 15px;
  cursor: pointer;
}

.availability {
  color: var(--light-darkish-blue);
  font-weight: 500;
  cursor: pointer;
}

img {
  position: absolute;
  top: 5px;
  left: 6px;
  cursor: pointer;
}

.search-icon-container {
  background-color: var(--primary-color);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.options {
  display: flex;
}

.options > select {
  border: none;
  font-family: "Inter";
  outline: none;
  cursor: pointer;
}

.area {
  margin-left: 50px;
  padding: 5px 0;
  width: 150px;
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
}

::placeholder {
  text-align: center;
  font-family: "Inter";
}

.type {
  margin-left: 120px;
  cursor: pointer;
}

.num-of-bedrooms {
  margin-left: 100px;
  cursor: pointer;
}

.amenities {
  margin-left: 120px;
  cursor: pointer;
}

.vertical-line {
  background-color: var(--light-gray);
  height: 40px;
  width: 1px;
}

.divider {
  width: 80%;
  background-color: var(--light-darkish-blue);
  height: 2px;
  margin: 50px auto;
}

.error-message {
  text-align: center;
  color: var(--red);
}
