:root {
  --white: #fff;
  --light-gray: #cccccc;
  --btn-bg: #ae593a;
}

.choose-your-home-title {
  color: var(--light-gray);
  font-size: 28px;
  margin: 20% 50% 5% 60%;
  white-space: nowrap;
}

.navigate-back {
  margin-top: 20px;
}

.upload-card2-main-container {
  width: 580px;
}

.houseImg1 {
  width: 450px;
}

.house-and-amenities-container {
  display: flex;
  margin: 2px 50%;
  gap: 40px;
}

.navigate-back-container {
  align-self: flex-start;
}

.navigate-back-container img {
  width: 30px;
}

.upload-card2-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--light-gray);
  color: var(--light-gray);
  padding: 50px 30px;
  border-radius: 20px;
}

.amenities-grid {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  gap: 80px 60px;
  list-style: none;
}

.amenity-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #1366ba;
  border-radius: 15px;
  padding: 15px 0;
  position: relative;
  white-space: nowrap;
  cursor: pointer;
  background-color: var(--white);
}

.amenity-text {
  position: absolute;
  top: calc(100% + 10px);
  font-size: 15px;
}

.arrow-down2 {
  margin-top: 50px;
}

.continue-button2 {
  align-self: flex-end;
  margin-top: 20px;
}

.house-and-button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.next-house-img {
  margin-bottom: 20px;
}

.upload-property2-continue-btn {
  align-self: flex-end;
  padding: 14px 24px;
  background-color: var(--btn-bg);
  color: var(--white);
  font-family: "Inter";
  border: none;
  border-radius: 10px;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.5;
  margin-left: -160px;
  cursor: pointer;
}
